<h1> Hi {{ booking.babysitter }}</h1>
<p>Think you !!</p>
<p>You have confirmed your reservation for {{ booking.dateBooking|date('d F Y') }}, {{ booking.hour|date('H:i') }}, {{ booking.numberHour }} hours </p>
