<h1> Hi {{ booking.babysitter }}</h1>
<p>Congratulation !!</p>
<p>Your hava a new booking for {{ booking.dateBooking|date('d F Y') }}, {{ booking.hour|date('H:i') }}, {{ booking.numberHour }} hours </p>
<p>Thanx for validate this booking</p>