<li {% if app.request.getPathInfo|split('/admin/administration')|length > 1 %} class="active open"{% endif %}>
    <a href="javascript:void(0)"><i class="clip-settings"></i>
        <span class="title">Administration</span><i class="icon-arrow"></i>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
        <li {% if app.request.get('_route')in ['back_administration_admins'] %} class="open"{% endif %}>
            <a href="{{ path('back_administration_admins') }}">
                <span class="title">Administrators</span>
            </a>
        </li>
    </ul>
</li>