<li>
    <a href="javascript:void(0)"><i class="clip-user-2"></i>
        <span class="title">Parents</span><i class="icon-arrow"></i>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
    </ul>
</li>