<li {% if app.request.getPathInfo|split('/admin/programme')|length > 1 %} class="active open"{% endif %}>
    <a href="javascript:void(0)"><i class="clip-map"></i>
        <span class="title">Programme</span><i class="icon-arrow"></i> <span class="selected"></span> </a>
    <ul class="sub-menu">
        <li {% if app.request.getPathInfo|split('/admin/programme/reservation')|length > 1 %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-list"></i>
                <span class="title">Réservation</span><i class="icon-arrow"></i> </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='back_programmes_reservation' %} class="open"{% endif %}>
                    <a href="{{ path('back_programmes_reservation') }}"> <span class="title">Liste</span> </a>
                </li>
            </ul>
        </li>
        <li {% if app.request.getPathInfo|split('/admin/programme/pr')|length > 1 %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-map"></i>
                <span class="title">Programmes</span><i class="icon-arrow"></i> </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='back_programme_liste' %} class="open"{% endif %}>
                    <a href="{{ path('back_programme_liste') }}"> <span class="title">Liste</span> </a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='back_programme' %} class="open"{% endif %}>
                    <a href="{{ path('back_programme') }}"> <span class="title">Nouveau</span> </a>
                </li>
            </ul>
        </li>
        <li {% if app.request.getPathInfo|split('/admin/programme/ref')|length > 1 %} class="active open"{% endif %} >
            <a href="javascript:void(0)"><i class="clip-list"></i>
                <span class="title">Réferentiel</span><i class="icon-arrow"></i> </a>
            <ul class="sub-menu">
                <li {% if app.request.get('_route')=='back_programme_theme' %} class="open"{% endif %}>
                    <a href="{{ path('back_programme_theme') }}"> <span class="title">Themes</span> </a>
                </li>
            </ul>
        </li>
    </ul>
</li>