<div class="col-sm-4 col-md-3">
    <div class="icon-box style3 counters-box">
        <div class="numbers">
            <i class="soap-icon-user hotel-color"></i>
            <span class="display-counter" data-value="{{ babysitters.getTotalItemCount }}">0</span>
        </div>
        <div class="description">Babysitter(s) found</div>
    </div>
    <div class="toggle-container filters-container">
        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#modify-search-panel" class="">Modify Search</a>
            </h4>
            <div id="modify-search-panel" class="panel-collapse collapse in">
                <div class="panel-content">
                    <form method="post">
                        <div class="form-group">
                            <label>Keyword</label>
                            <input type="text" name="motcle" class="input-text full-width" placeholder="" value="{{ app.request.get('motCle') }}" />
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Langauges</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="English">English</option>
                                    <option value="French">French</option>
                                    <option value="Deutsh">Deutsh</option>
                                    <option value="Spanish">Spanish</option>
                                    <option value="Arabic">Arabic</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Japanese">Japanese</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Smoker</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Special Needs</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Provide sick care</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Comfortable with pets</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Homework help</label>
                            <div class="selector">
                                <select class="full-width">
                                    <option value="all">All</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn-medium icon-check uppercase full-width">search again</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>