{% extends ":Front:base.html.twig" %}
{% block title %}list of babysitters{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li {% if app.request.get('_route')=='front_babysitter_liste' %} class="active"{% endif %}>
        <a href="{{ path('front_babysitter_liste') }}">list of babysitters</a></li>
{% endblock %}
{% block body %}
    <div class="container">
        <div id="main">
            <div class="row">
                {% include 'FrontGeneralBundle:BabySitter/liste:filtre.html.twig' %}
                <div class="col-sm-8 col-md-9">
                    {% include 'FrontGeneralBundle:BabySitter/liste:sort.html.twig' %}
                    <div>
                        <div class="row image-box listing-style2">
                            {% for babysitter in babysitters %}
                                {% include 'FrontGeneralBundle:BabySitter/liste:artice.html.twig' %}
                            {% else %}
                            <div class="person-information booking-information">
                                <div class="booking-confirmation clearfix">
                                    <i class="soap-icon-notice icon circle" style="color: red;margin-top: -5px;"></i>
                                    <div class="message">
                                        <h4 class="main-message" style="color: red">No Babysitters available</h4>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(babysitters) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        tjq(document).ready(function(){
            tjq('#SelectCountry').on('change',function(){
                var country=tjq(this).val();
                tjq('#SelectCity').empty();
                tjq('#SelectCity').append('<option>Loading...</option>');
                updateTraveloElementUI(tjq('#SelectCity'));
                tjq.ajax({
                    url: '{{ path('front_ajax_country_to_city') }}',
                    data: { 'country' : country },
                    type: 'POST',
                    dataType: 'json',
                    success: function(json) {
                        tjq('#SelectCity').empty();
                        json.forEach(function (value) {
                            tjq('#SelectCity').append('<option value="'+ value +'">'+ value +'</option>');
                        });
                        updateTraveloElementUI(tjq('#SelectCity'));
                    }
                });
            })
        })
    </script>
{% endblock %}